@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

 }